.about-container {
  background: url("./../images/lake-3.jpg") repeat-y center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: $font-text;
  //display: flex;
  justify-content: center;
  padding-top: 8rem;
}

@media only screen and (max-width: 800px) {
  .about-container {
    background: url("./../images/lake-3.jpg") repeat-y center fixed;
    height: 180vh;
  }
}

.about-col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.about-card {
  margin: 2rem 1rem 0;
  height: 22rem;
  width: 15rem;
  background-color: rgba(39, 39, 39, 0.596) !important;
  padding: 0;
  color: $white;
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: rgb(209, 209, 209);
  }
}

.about-name {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  font-size: 2em;
  border-top: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
  margin: 1.3em 0.8em 1.5em;
  padding: 0.5em 0;
}

.about-avatar {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  img {
    width: 9em;
    border-radius: 50%;
    border: 0.2em solid $green;
  }
}
