.contact-form {
  background: url("./../images/lake-3.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  font-family: $font-text;
  margin: 0;
  padding: 0 0 100%;
}

.contact-header {
  color: $white;
}

.contact-card {
  margin-top: 10rem;
  margin-bottom: auto;
  background-color: rgba(39, 39, 39, 0.596) !important;
  padding: 1em;
  input {
    margin-bottom: 1em;
  }
  button {
    margin-top: 1em;
    background-color: $orange;
    font-size: 1.1em;
    font-weight: bold;
  }
}

.label-text {
  font-size: 1.1em;
  color: $white;
}

.delete-profile {
  // background-color: darkred !important;
}
