// html,
// body {
//   background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 100%;
//   font-family: 'Numans', sans-serif;
// }

.contact-form {
  background: url('./../images/lake-3.jpg') no-repeat center fixed;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 6.1rem);
  font-family: $font-text;
  overflow: hidden;
}

.container {
  height: 100%;
  align-content: center;
}

.contact-header {
  color: $dark;
}

.contact-card {
  // margin-top: 10rem;
  //margin-bottom: auto;
  background-color: rgba(187, 182, 182, 0.5) !important;
  padding: 2em;
  input {
    margin-bottom: 1em;
  }
  button {
    margin-top: 1em;
    background-color: $orange;
    font-size: 1.1em;
    font-weight: bold;
  }
}

.label-text {
  font-size: 1.1em;
  font-weight: bold;
}
