#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
  height: 5rem;
  a {
    @include nolink;
    margin-top: 0.4em;
    text-decoration: underline;
  }
}

#footer-spacer {
  background-color: $orange;
  height: 0.5em;
}
