// #footer

#footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 9.17rem;
}
a.footer-link {
  color: $dark;
  font-weight: 600;
  text-decoration: none;
}
a.footer-link:hover {
  color: $white;
  //  background-color: white;
}

a.footer-link.active:focus {
  color: $green;
  //background-color: white;
}

a.footer-link.active:hover {
  color: $green;
  background-color: white;
}
