.map-home {
  height: 350px;
}

.map {
  height: 350px;
  border: 5px solid green;
  width: 1200px !important;
}

.container-map {
  margin: 0 !important;
  border: 20px solid red;
  padding: 0 !important;
}
