.user-pin {
  width: 3.2em;
  border-radius: 50%;
  background-color: $orange;
  padding: 0.3em;
}

#frog-marker {
  width: 2.5em;
}

.user-marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #528f4f;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.user-marker:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #8bc488;
  position: absolute;
  border-radius: 50%;
}

.dummy-pin {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: $green;
  border: 0.3em solid $orange;
}
