.user-table {
  margin-top: 1.5em;
  margin-bottom: 9.17rem !important;
  td {
    text-align: center;
    vertical-align: middle;
  }
}

--bs-table-bg {
  background-color: $green !important;
}

.table-striped {
  background-color: $green !important;
}

.table-light {
  background-color: $green !important;
}

.user-image {
  padding: 0.2em;
  background-color: $orange;
  border-radius: 0.3em;
  width: 50px;
}

//for the setting page
.user-image-settings {
  padding: 0.2em;
  background-color: $orange;
  border-radius: 0.3em;
  width: 100px;
}

.dummy-avatar {
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 0.2em solid $orange;
    border-radius: 0.5em;
    width: 50px;
    height: 50px;
  }
  img {
    width: 35px;
  }
}

//for the setting page
.dummy-avatar-settings {
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 0.2em solid $orange;
    border-radius: 0.5em;
    width: 50px;
    height: 50px;
  }
  img {
    width: 35px;
  }
}

.frog-status {
  width: 4em;
}

.status-button {
  width: 8rem;
  height: 2.7rem;
  border: 0.1rem solid $orange !important;
  padding: 0 !important;
}

h5 {
  text-align: center;
}

.table-spacer {
  width: 5rem;
}
